<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>შეცდომა</title>
</head>
<body>
    <hgroup>
        <h1>შეცდომა.</h1>
        <h2>მოხდა შეცდომა თქვენი მოთხოვნის დამუშავებისას. სცადეთ თავიდან.</h2>
    </hgroup>
</body>
</html>
